**/target
**/build
**/out
!/clearance-data-center/data-center-out/src/main/java/com/dhl/data/out
**/logs
**/.idea
**/.DS_Store
/build-jar/
/build-war/
**.iml
**.sql
**.class
.project
.settings
.classpath
.gradle
generated
rebel.xml
